//页面可调用函数部分(类似于vue的页面调用函数，小程序不支持直接调用)

var common = {};

// 测试
common.test = function(str){
    return '测试:' + str;
}

/**
 * 时间戳转化为年 月 日 时 分 秒 
 * number: 传入时间戳 
 * format：返回格式，支持自定义，但参数必须与fora里保持一致 
 */
common.formatTime = function(number, format) {
    if(number == 0)return '\n';
    var format = format?format:'Y-M-D h:m:s';
    var fora = ['Y', 'M', 'D', 'h', 'm', 's'];
    var ret = [];

    var date = getDate(number * 1000);
    ret.push(date.getFullYear());
    ret.push(N(date.getMonth() + 1));
    ret.push(N(date.getDate()));

    ret.push(N(date.getHours()));
    ret.push(N(date.getMinutes()));
    ret.push(N(date.getSeconds()));
    ret.forEach(function(item,i){
        format = format.replace(fora[i], ret[i]);
    });
    return format;
}

//数据转化
function N(n) {
    return n < 10 ? '0' + n : n;
}
common.N = N;

module.exports = common;